*.DS_Store
*.csproj
*.csproj.user
*.p4set
*.pidb
*.unityproj
*.sln
*.suo
*.sublime-*
*.userprefs
*.apk
*.user

.vs/
.tempfiles
Library/
Temp/
obj/
private/

Unity/TSRenderStudio/Assembly-CSharp*
Unity/TSRenderStudio/ShaderUsageTool-csharp.sln
Unity/TSRenderStudio/ShaderUsageTool.sln
Unity/TSRenderStudio/.vs/
Unity/TSRenderStudio/Assets/Render Studio Frames